@import "vars";

%card-shared-styles {
  font-size: 18px;
  margin-bottom: 1rem;
  width: 100%;
}

.card-main {
  background-color: $card-bg-color;
  border-radius: 5px;
  box-shadow: 0 2px 8px $box-shadow-color;
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 45px;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  input,
  button,
  select {
    @extend %card-shared-styles;
  }

  &.success {
    background-color: $success-color;
    transition: background-color 0.3s ease-out;
  }
}

.card-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: 100%;

  .card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-bg-color;
    z-index: 800;
  }

  .form-wrapper {
    z-index: 1002;
  }
}



/* manage demo profiles card*/
.manage-profiles-card {

  .manage-profiles-sections {
    display: flex;
  }
  .select-profile-section {
    margin: 0 2rem;

  }
  .create-new-user-section {

  }
  .vertical-divider {
    width: 1px;
    height: 300px;
    background-color: #ccc;
    margin: 2rem;
  }

  .card-vertical-spacer {
    margin: 3rem 0;
  }

  .user-list {
    background-color: #222020;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .user-list-item {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
  }

  .user-list-item:hover {
    background-color: #f0f0f0;
    color: #222020
  }

}
