@import "vars";

/* Dashboard CSS*/
.dashboard-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 36px;
}

.dashboard {
  margin-left: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-around;
}

.dashboard-item {
    flex-basis: 45%;
    margin-bottom: 1rem;
    flex-basis: calc(100% / 3); /* Adjust this value to equal the number of cards per row */
    margin-bottom: 1rem;
    max-width: 350px; /* Adjust this value to set the maximum width for the cards */;
}

.dashboard-card {
  background-color: $card-bg-color;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px $box-shadow-color;
  transition: all 0.3s ease;
  min-height: 200px;
}



.dashboard-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 28px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($text-color, 0.1);
}
