$bg-color: rgb(35, 35, 39);
$text-color: rgb(224, 218, 218);
$header-color: #333;
$navbar-color: #555;
$hover-color: #888;
$card-bg-color: rgb(71, 70, 70);
$success-color: rgba(0, 255, 0, 0.589);
$box-shadow-color: rgba(0, 0, 0, 0.1);
$overlay-bg-color: rgba(0, 0, 0, 0.5);
